[Unit]
Description=Hostap daemon service
Requires=sys-subsystem-net-devices-wlan0.device udhcpd-for-hostapd.service
After=sys-subsystem-net-devices-wlan0.device
Before=udhcpd-for-hostapd.service

[Service]
Type=simple

# start the service hostapd
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd.conf

[Install]
WantedBy=multi-user.target
